@model StravaTrainingGenerator.Models.ViewModels.DetailTrainingModelView
@{
    ViewBag.Title = "Detalle del entrenamiento";
    Layout = "~/Views/Shared/Master.cshtml";
}

@section js {
    <script src="~/Content/Viewsjs/DetailTraining.js"></script>
    <script type="text/javascript">
        var seeResultsUrl = "@(Html.Raw(Url.Action("SeeResults", "Trainings", new { DayTrainingCode = "-1" })))";
        var urlGetDayTrainings = "@(Html.Raw(Url.Action("GetGridDayTrainingWeek", "Trainings", new { trainingId = Model.training.TrainingCode, week = "-1" })))";
    </script>
}

<section class="components training_detail">
    <div class="back_button">
        <a href="@Url.Action("Index", "Trainings")">Volver</a>
    </div>
    <div class="top_details form">
        <div class="row_form">
            <div class="column_form">
                <p class="basic_text">Fecha inicio plan: @Model.training.StartDate.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="column_form">
                <p class="basic_text">Fecha fin plan: @Model.training.EndDate.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
        <div class="row_form">
            <div class="column_form">
                <p class="basic_text">Tipo de plan: @Model.training.PlanTypeName</p>
            </div>
            <div class="column_form">
                <p class="basic_text">Marca inicial 5km: @Model.training.Start5kmMark</p>
            </div>
        </div>
    </div>

    <div class="weeks w100">

        <div class="weeks_tabs_div">
            <ul class="weeks_list">
                @for (int i = 1; i <= Model.training.PlanTypeWeeks; i++)
                {
                    <li class="week @(i == 1 ? "active" : "")" onclick="showWeek(@i)" id="week_@i" >Semana @i</li>
                }
            </ul>
        </div>
            
        <div class="content-wrapper" id="detail_week">
            <div class="date_start"><h2 class="basic_text">Fecha inicio de la semana: <span id="dateWeekStart">@Model.training.StartDate.ToString("dd/MM/yyyy")</span></h2></div>
            <div class="grid_div">
                <div class="grid" id="detail_grid">

                </div>
            </div>
        </div>

    </div>
    <!--/ tabs -->
</section>